body {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

.slider {
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  right: -100%;
  opacity: 0;

  animation: slide_animation 3.5s ease-in-out infinite;
}

img {
  max-height: 90%;
  max-width: 90%;
}

@keyframes slide_animation {
  0% {
    right: -100%;
  }
  15% {
    opacity: 0;
  }
  30% {
    right: 0;
    opacity: 1;
  }
  70% {
    right: 0;
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    right: 100%;
  }
}