body {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

.slider {
  display: grid;
  overflow: hidden;
}

.slider > * {
  grid-area: 1 / 1 / 2 / 2;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  right: -100%;
  opacity: 0;

  animation: slide_animation 3.5s ease-in-out infinite;
}

#second-img-container {
  animation-delay: 2.85s;
}

img {
  max-height: 90%;
  max-width: 90%;
}

@keyframes slide_animation {
  0% {
    right: -100%;
  }
  12.5% {
    opacity: 0;
  }
  25% {
    right: 0;
    opacity: 1;
  }
  75% {
    right: 0;
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    right: 100%;
  }
}